
<div class="row">
    <div class="well">
        <h3 align="center">JetJedi View</h3>
        <p>{{$scope.nome}}</p>
        <p>{{data}}</p>
    </div>


	    <div class="col-sm-5">
	    	<div class="panel panel-default">
			    <div class="panel-heading">Jedis por Status</div>
			    <div class="panel-body">
			    	<canvas id="statusChart" width="400" height="400"></canvas>
			    </div>
			</div>
	    </div>


	     <div class="col-sm-5 col-sm-offset-2">
	    	<div class="panel panel-default">
			    <div class="panel-heading">Jedis por Planeta</div>
				    <div class="panel-body">
				    	<canvas id="planetChart" width="400" height="400"></canvas>
				    </div>
			 </div>
	    </div>
    
</div>